*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Define cuanto mide un rem
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  /*     @include respond (phone) {
        font-size: 50%;
    } */

  //Siempre se aplica el último media queries cuando se modifica el mismo atributo

  @include respond(tab-land) {
    //width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //width < 900?
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
